*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PCS20142/nbproject/private/
/PCS20142/build/
/PCS20142/dist/
/PCS20142/BRASILEIRO.xml